@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Twentieth Century';
  src: url('../assets/fonts/TwCenClassMTStd-Regular.otf');
}

@font-face {
  font-family: Raisonne;
  src: url('../assets/fonts/raisonne-demibold.woff');
}

@layer utilities {
  .animate-pause {
    animation-play-state: paused;
  }
}